@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

* {
    max-width: 1920px;
    overflow-x: hidden;
}

h5{
    line-height: 1.3 !important;
}

.col-xxl-3>img {
    width:100%;
    height: 423.52px;
}

.screen{
    width:1920px;
    height:923px;
}

.inl {
    display: inline;
}

.nav {
    font-family: 'Montserrat', sans-serif;
    color: #141414;
    font-weight: 700;
}

.active {
    color: #10c9c3;
}

.content-header {
    font-family: 'Montserrat', sans-serif;
    color: #141414;
}

.subcontent {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    line-height: 2;
}

.flex {
    display: flex;
}

.button {
    border: 0;
    background-color: #10c9c3;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 50px 25px 50px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.progress-bar {
    background-color: #10c9c3 !important;
}

.progress {
    height: 4px !important;
    border-radius: 0 !important;
    background-color: #cdd1d5 !important;
}

.blue {
    background-color: #10c9c3;
}

.not-full {
    width: 20% !important;
    margin: 2.5% 0 1.25% 5% !important;
}

.stat {
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 60%;
}

.stath {
    margin-left: 30px;
}

.statp {
    margin-left: 75px;
}

.product-line {
    height: 423.52px;
}

.product-line>.col-xxl-3 {
    padding: 0 !important;
}

.hover:hover {
    filter: brightness(50%);
    transition-duration: .75s;
    transition-timing-function: forwards;
}

#half-screen-1a {
    background-color: #F5F5F5;
    padding-top: 250px;
    padding-bottom: 250px;
}

#half-screen-1b {
    background-image: url(images/stil-sHGyGynyD5Y-unsplash.png);
    background-size: 100%;
    height: 626.39px;
}

#h-20p {
    height: 20px;
    width: 1920px;
}

#h-170p {
    height: 170px;
    width: 1920px;
}

#h-80p {
    height: 80px;
    width: 1920px;
}

#screen1{
    background-image: url('images/aidan-hancock-8RU4OuA6Yug-unsplash.png');
    background-size:cover;
}

#filler {
    background-color: #F5f5f5;
    height:80px;
}

#serviceText {
    margin-top: 30px;
}